.Card {
    @apply shadow-md shadow-gray-200 p-2 md:p-[10px] lg:p-3 xl:p-4 h-[140px] w-full bg-white rounded-lg;

    >.Header {
        >.Icon {
            @apply bg-[#dfdfdf] p-[5px] rounded-md;
        }

        >.Title {
            @apply w-[82%] text-xl font-semibold;
        }
    }

    >.Content {
        @apply pl-[18%] h-[73px];

        >.Title {
            @apply text-3xl font-medium;
        }

        >.Description {
            @apply text-gray-500 text-xs font-normal inline;
        }
    }

    &.ActiveCard {
        @apply bg-[#879fff];
        background-color: #006be9 !important;

        .Header .Icon {
            @apply bg-gray-100;
        }

        .Header .Title,
        .Content .Title,
        .Content .Description {
            @apply text-gray-100;
        }
    }
}
.MobleCard{
    @apply shadow-md shadow-gray-200 p-2 md:p-[10px] lg:p-3 xl:p-4 h-fit w-full bg-white rounded-lg;
    >.Header {
        @apply text-gray-600 text-xs md:text-base  xl:text-xl font-medium xl:font-semibold pb-2;
    }
    >.Content {
        @apply gap-2 inline;
        >.Title {
            @apply text-xl  pr-1 font-medium text-blue-500;
            line-height: 1.875rem !important;
        }

        >.Description {
            @apply text-sm;
        }
    }
    &.ActiveCard {
        @apply bg-[#879fff];
        background-color: #006be9 !important;
        >.Header,
        .Content .Title,
        .Content .Description {
            @apply text-gray-100;
        }
    }

}