.container {
    @apply h-[100vh] flex justify-center;
    // background: rgb(136, 89, 245);
    //background: radial-gradient(circle, rgba(136, 89, 245, 1) 0%, rgba(146, 98, 243, 1) 32%, rgba(142, 105, 241, 1) 56%, rgba(146, 117, 238, 1) 100%);
    background-color: #eff3f4 !important;

    >form {
        @apply bg-white mt-[80px] w-96 h-fit p-4 pb-10 shadow-slate-400 rounded-md shadow-md;

        >.formHeader {
            @apply text-slate-900 tracking-tight font-sans text-3xl font-extrabold mt-2 mb-5 text-center;
        }

        >.formButton {
            @apply rounded-[4px] w-full my-4 text-[#ffffff] font-normal bg-blue-500;
        }

        >.formButton:disabled {
            background-color: #cbcbcb;
            color: #0000009c;
        }
    }
}

.link {
    @apply text-[#3b82f6]
}

.link:hover {
    @apply underline
}