.Container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    >.Navbar {
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0px 70px;
        background: linear-gradient(270deg, #37188E 0%, #0F0728 100%);
    }
}

.NavItems {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavItem {
    margin-right: 10px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16.67px;
    font-weight: 600;
    line-height: 19.53px;
    text-align: left;
}

.Link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Link:hover {
    text-decoration: underline;
}

.LinkIcons {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 1px;

    >.Icons {
        height: 25px;
        width: 25px;
    }
}

.NavItem img {
    height: 20px;
    width: 20px;
}

.Content {
    @apply w-full px-2 sm:px-2 md:px-4 lg:px-6 xl:px-8 bg-[#210E55];

    >.CarouselContainer {
        @apply w-full bg-inherit pt-3;
    }

    .LiveResultContainer {
        @apply w-full bg-inherit pt-3 grid gap-1 sm:gap-1 md:gap-2 lg:gap-3 grid-cols-3 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5;
    }

    >.LiveGameContainer {
        @apply w-full bg-inherit pt-3 grid gap-2 lg:gap-3 grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 pb-4;
    }
}