.Container {
    @apply w-full mx-auto py-3 md:py-5 lg:py-8 px-[2%] md:px-[5%] lg:px-[10%];
    background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);

    >.HeaderSection {
        @apply w-full h-32 md:h-48 lg:h-[250px] rounded-[10px] md:rounded-[20px] lg:rounded-[30px] flex justify-between items-center px-[2%] md:px-[5%] lg:px-[10%];
        background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
        outline: 3px solid #FFD700;
    }

    >.Section {
        @apply w-full rounded-[10px] md:rounded-[20px] lg:rounded-[30px] mt-5 md:mt-8 lg:mt-14;
        background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
        outline: 3px solid #FFD700;
    }
}