//Styling for header
.Container {
    @apply w-full z-10;
    background: linear-gradient(270deg, #37188E 0%, #0F0728 100%);
    &.Scrolled {
        @apply shadow-md shadow-gray-200;
    }
}

.Navbar {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 0px 70px;
    background: linear-gradient(270deg, #37188E 0%, #0F0728 100%);
}

.NavItems {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavItem {
    margin-right: 10px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16.67px;
    font-weight: 600;
    line-height: 19.53px;
    text-align: left;
}

.Link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.Link:hover {
    text-decoration: underline;
}

.AlertMessage {
    @apply bg-[#dfdfdf] rounded-2xl px-2 py-1 gap-3;
    padding: 4px !important;
    border-radius: 50% !important;
}

.Persona {
    >span:last-child {
        color: #FFFFFF;
    }
}