.Container {
    @apply w-[96%] md:w-[90%] lg:w-[80%] h-[160px] md:h-[24px] lg:h-[320px] gap-0 rounded-2xl md:rounded-3xl lg:rounded-[50px] mx-auto flex justify-center items-center;
    background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
}

.GameSection {
    @apply w-full flex justify-between items-center gap-[2px] md:gap-1 lg:gap-2 px-2 md:px-6 lg:px-10;

    >.GameDetails {
        @apply p-1 md:p-4 lg:p-8 xl:p-10 w-[65%] flex justify-start items-center gap-2 md:gap-3 lg:gap-4 xl:gap-5;

        >img {
            @apply w-[50%] h-32 md:h-52 lg:h-72 outline-2 md:outline-4 lg:outline-[5px] outline outline-[#FFD700] rounded-2xl md:rounded-3xl lg:rounded-[50px];
        }

        >.Details {
            @apply w-full flex justify-start items-center flex-col gap-1 md:gap-4 lg:gap-7 xl:gap-8;
        }
    }

    >.WinningSection {
        @apply flex justify-center items-center flex-col gap-[2px] md:gap-1 lg:gap-2 w-[35%];

        >.Result {
            @apply flex justify-center items-center flex-col gap-[2px] md:gap-1 lg:gap-2 relative h-32 w-32 md:h-52 md:w-52 lg:h-64 lg:w-64;
            background: radial-gradient(50% 50% at 50% 50%, #FFD700 0%, #998100 100%);
            box-shadow: 0px 4px 4px 0px #00000040;
            border-radius: 50%;
            color: #FFFFFF;

            >img {
                @apply absolute w-6 md:w-14 right-[24%] top-[20%] md:right-[15%] md:top-[15%] lg:top-[16%] lg:right-[16%];
            }
        }
    }
}

.GameDataEnterTabContainer {
    @apply w-[96%] md:w-[90%] lg:w-[80%] mt-1 md:mt-3 lg:mt-5 rounded-xl md:rounded-3xl lg:rounded-[50px] mx-auto p-[2px] md:p-3 lg:p-4 flex flex-col gap-1 md:gap-3 lg:gap-5 justify-between items-center outline-2 md:outline-4 lg:outline-[5px] outline outline-[#FFD700];
    background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
}

.DataBox {
    @apply bg-[#FFD700] shadow flex flex-col gap-1 w-9 md:w-[50px] lg:w-16 h-8 md:h-12 lg:h-[60px] rounded-[8px] md:rounded-[10px] lg:rounded-[15px] mt-[2px] md:mt-1 lg:mt-2;

    >.Label {
        @apply text-white font-extrabold text-xs md:text-base lg:text-2xl text-center;
    }

    >.Value {
        @apply text-[#37188E] font-extrabold text-[8px] leading-none md:text-xs lg:text-sm text-center;
    }
}

.DataBox:nth-child(even) {
    @apply bg-[#000000];
}

.InputField {
    @apply h-14 block;
    
    >input {
        @apply bg-[#100828] rounded-[15px] md:rounded-[22px] lg:rounded-[28px] pl-4 text-white text-xl font-bold;
        outline: 2px solid #FFD700;
    }
}

.Checkbox {
    @apply justify-start items-center gap-2;

    >label {
        @apply p-0 text-[#FFD700];
    }

    >div {
        @apply m-0 text-[#FFD700];
    }

    >input {
        @apply text-[#FFD700]
    }
}

.InnerSection {
    @apply max-w-[420px] w-[90%] rounded-[10px] md:rounded-[20px] lg:rounded-[30px] flex justify-between items-center flex-col py-4 md:py-8 lg:py-10;
    background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
    outline: 3px solid #998100;
}