html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.MobileLayout {
    @apply lg:hidden;
    flex: 1;
    background: #210e55;
}

.DesktopLayout {
    @apply hidden lg:block w-full h-full;
    background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
    flex: 1;
    background: #210e55;

    >.DesktopHeader {
        @apply w-full;
    }
}

.FooterContainer {
    @apply w-full h-[136px] md:h-[230px] lg:h-[250px];
}