.Container {
    @apply w-full mx-auto py-3 md:py-5 lg:py-8 px-[2%] md:px-[5%] lg:px-[10%];
    background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);

    >.HeaderSection {
        @apply w-full h-32 md:h-48 lg:h-[250px] rounded-[10px] md:rounded-[20px] lg:rounded-[30px] flex justify-between items-center px-[2%] md:px-[5%] lg:px-[10%];
        background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
        outline: 3px solid #FFD700;
    }

    >.Section {
        @apply w-full rounded-[10px] md:rounded-[20px] lg:rounded-[30px] mt-5 md:mt-8 lg:mt-14;
        background: linear-gradient(180deg, #37188E 0%, #0F0728 100%);
        outline: 3px solid #FFD700;
    }
}


.TableHeaderCell {
    @apply text-white text-[10px] leading-3 md:text-sm lg:text-base text-center font-bold;
    >div {
        @apply inline;
    }
}

.TableRow {
    height: 65px;
    background: linear-gradient(180deg, #FF0000 0%, #990000 100%);
}

.TableRow:nth-child(2n) {
    background: linear-gradient(180deg, #FFD700 0%, #998100 100%);
}

.TableRow:nth-child(3n) {
    background: linear-gradient(180deg, #05FF00 0%, #039900 100%);
}

.TableCell {
    @apply text-white font-bold text-[10px] leading-3 md:text-sm lg:text-base text-center;
}

.TableRow:last-child {
    .TableCell:first-child {
        border-bottom-left-radius: 30px;
    }
    .TableCell:last-child {
        border-bottom-right-radius: 30px;
    }
}